.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0; 
    width: 70%;
    height: 70%;
}
img{
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    overflow: hidden;
}

.bg {
    background-image: url(images/icons/77.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    max-width: 100%;
}